html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('http://localhost/confecciones-marybet/inventario/INVENTARIO/img/fondo.png');
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-attachment: fixed; /* Hace que el fondo sea fijo */
    background-position: center; /* Centra la imagen */
    background-repeat: repeat; /* Evita que la imagen se repita */
    background-color: transparent; /* Elimina cualquier fondo blanco */
}


.main-container {
	height: 100vh; /* Altura completa de la ventana */
	display: flex;
	flex-direction: column; /* Alinea los formularios en columna */
	justify-content: center; /* Centra verticalmente */
	align-items: center; /* Centra horizontalmente */
	padding: 20px; /* Espacio en los bordes */
	box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  }
  
  .main-container > .login,
  .main-container > .hero-body {
	height: auto;
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	margin-bottom: 20px; /* Espacio entre los formularios */
  }
  
.center{
	text-align: center;
	top: 50px;
}

.center2{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;

}

/* CLASE ANIMADO, PARA ANIMAR BOTONES !!! */
.animado {
	display: inline-block;
	transition: transform 0.3s ease-in-out; /* Transición suave */
  }
  
  .animado:hover {
	transform: scale(1.2);
  }
